@media print {
  .navbar,
  .d-sm-flex,
  .h3,
  .card .card-header,
  .sticky-footer,
  .navbar-nav,
  .actionBtn{
    display: none !important;
  }

  .card{
    box-shadow: none !important;
    border: none !important;
  }

  .logo{
    width: 400px;
    margin: auto;
  }
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15);
}